body{
    background-color: #E3E2E2;
}

.container{
    display: flex;
}
.container-left {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
}

.container-right {
    width: 25%;
}